@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #1a1a1a;
  color: #fff;

  --primary-color: #ff3030;
  --text-color: #ddd;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 5rem;
  padding: 0 1rem;
  font-size: 0.8rem;
  text-align: center;
}

.nav-item {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;

  transition: all 0.2s ease-in-out;
}

.nav-item:hover {
  color: var(--primary-color);
}

.hero {
  height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.title {
  margin: 0 0 1rem 0;
  font-size: 3rem;
  line-height: 3rem;
  font-family: "Lobster", cursive;
}

.subtitle {
  font-size: 1rem;
  margin: 0;
  color: var(--text-color);
}

.hero-action {
  margin-top: 4rem;
}

.button {
  width: fit-content;
  padding: 1rem 2rem;
  border: 1px solid var(--primary-color);
  color: #fff;
  background-color: var(--primary-color);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: transparent;
  color: var(--primary-color);
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

.heading {
  margin: 2rem 0 1rem 0;
  width: fit-content;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-bottom: 1px solid var(--primary-color);
}

.about {
  display: grid;
  gap: 2rem;
}

.about-content {
  display: flex;
  flex-direction: column;
}

.about-text {
  font-size: 0.9rem;
  color: var(--text-color);
}

.about-images {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.5rem;
}

.about-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-image-large {
  grid-area: 1 / 1 / span 2 / 1;
}

.about-action {
  margin-top: 2rem;
}

@media only screen and (min-width: 600px) {
  .nav {
    gap: 2rem;
    font-size: 1rem;
  }

  .title {
    font-size: 4rem;
    line-height: 4rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .button {
    padding: 1.2rem 2.5rem;
  }

  .about-text {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1000px) {
  .nav {
    gap: 4rem;
  }

  .title {
    font-size: 6rem;
    line-height: 6.5rem;
  }

  .heading {
    font-size: 2rem;
  }

  .about {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 6rem;
  }

  .about-images {
    gap: 1rem;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
